.mail-list-section {
  padding: 0;
  margin: 0;
  margin-inline-end: 15px;

  padding-inline-end: 10px;
  width: 100%;

  background-color: white;
}

.mail-list {
  max-width: 83vw;

  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: auto;
}

.mail-row {
  border-bottom: 1px solid var(--mgray1);
  cursor: pointer;
  transition: background-color 0.2s;
}

.mail-row:hover {
  /* background-color: var(--mbg3); */
  box-shadow: inset 1px 0 0 rgb(218, 220, 224),
    inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.mail-actions button {
  background-color: var(--mcolor2);
}

.mail-list-header-filter {
  background-color: white;
  width: 100%;
}
