.mail-list-section {
  padding: 0;
  margin: 0;
  padding-inline-end: 10px;
  width: 100%;
}

.mail-list {
max-width: 83vw;

  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: auto; 
}

.mail-row {
  border-bottom: 1px solid var(--mgray1);
  cursor: pointer;
  transition: background-color 0.2s;
}

.mail-row:hover {
  background-color: var(--mbg3);
}

.mail-actions button {
  background-color: var(--mcolor2);
}


