/* @media (max-width: 1026px) {
  .mail-list {
    max-width: 83vw;
  }
} */

@media (max-width: 920px) {
  .folder-name {
    display: none;
  }

  .folders-container {
    width: 80px;
    min-width: 80px;
  }

  .compose-text {
    display: none;
  }

  .compose-container {
    width: 50px;
    height: 40px;
    margin-inline-start: auto;
  }
}
/* 
@media (width< 920px) {
  .mail-list {
    max-width: 80vw;
  }
} */
